{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/png" href="{% static 'main/img/favicon.ico' %}"/>
    <title>Dia Aberto-Apagar Utilizadores</title>
    <meta charset="utf-8"/>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>

    <link rel="stylesheet" href="{% static 'main/css/bulma.css' %}">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">

    <title></title>
</head>

{% block content %}

<style>

    div.c {
  font-size: 150%;
}

</style>
<body>

<form method="POST">
    {% csrf_token %}
    <div data-v-8716d23a="" id="app">
        {% include "includes/navbar.html" %}
        <div data-v-8716d23a="" id="top-hero" class="hero is-primary is-bold">
            <div data-v-8716d23a="" id="top-hero-body" class="hero-body"></div>
        </div>
        <div data-v-8716d23a="" id="page-content">
            <div data-v-8716d23a="" class="card">
                <div data-v-8716d23a="" class="card-content">
                    <div data-v-8716d23a="" id="top">
                        <nav aria-label="breadcrumbs" class="breadcrumb">
                            <ul>
                                <li><a href="/" class="router-link-active">Início</a></li>
                                <li class="is-active"><a href="/utilizadores/consultar_utilizadores/"
                                                         class="router-link-exact-active router-link-active">Consultar
                                    Utilizadores</a></li>
                                <li class="is-active"><a href="/utilizadores"
                                                         class="router-link-exact-active router-link-active">Apagar
                                    Utilizadores</a></li>
                            </ul>
                        </nav>
                        <div style="padding: 7rem 7vw 1rem;">
                            <div class="b-steps">

                                <div class="column is-12"><h1 class="title has-text-centered">Deseja apagar o utilizador
                                    "{{ obj.nome }}" ?</h1>
                                    <div class="column">
                                    </div>

                                    <div style="text-align:center">
                                        <form action='.' method='POST' class=""> {% csrf_token %}
                                            <br>
                                            <button class="btn btn-lg btn-primary btn-block button is-danger"
                                                    type="submit" id="2" name="del" value="{{ obj.id }}">Apagar
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'includes/footer.html' %}
    </div>




    {% endblock %}

