<div data-v-1b91368a="" class="column is-3">
    <div data-v-1b91368a="">
        <div class="menu" style="margin-bottom: 1rem;">
            <p class="menu-label">Filtros Utilizadores</p>
            <div class="field">
                <div class="autocomplete control">
                    <div class="control has-icons-left is-clearfix">
                        <label>
                            <input type="search"
                                   autocomplete="off"
                                   placeholder="Tipo de Utilizador"
                                   class="input search selectable"
                                   data-column="1">
                        </label>
                        <span class="icon is-left">
                                <i class="mdi mdi-magnify mdi-24px"></i>
                            </span>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="autocomplete control">
                    <div class="control has-icons-left is-clearfix">
                        <label>
                            <input type="search"
                                   autocomplete="off"
                                   placeholder="Nome"
                                   class="input search selectable"
                                   data-column="2">
                        </label>
                        <span class="icon is-left">
                                <i class="mdi mdi-magnify mdi-24px"></i>
                            </span>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="autocomplete control">
                    <div class="control has-icons-left is-clearfix">
                        <label>
                            <input type="search"
                                   autocomplete="off"
                                   placeholder="Email"
                                   class="input search selectable"
                                   data-column="3">
                        </label>
                        <span class="icon is-left">
                                <i class="mdi mdi-magnify mdi-24px"></i>
                            </span>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="autocomplete control">
                    <div class="control has-icons-left is-clearfix">
                        <label>
                            <input type="search"
                                   autocomplete="off"
                                   placeholder="Unidade organica"
                                   class="input search selectable"
                                   data-column="4">
                        </label>
                        <span class="icon is-left">
                                <i class="mdi mdi-magnify mdi-24px"></i>
                            </span>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="autocomplete control">
                    <div class="control has-icons-left is-clearfix">
                        <label>
                            <input type="search"
                                   autocomplete="off"
                                   placeholder="Departamento"
                                   class="input search selectable"
                                   data-column="5">
                        </label>
                        <span class="icon is-left">
                                <i class="mdi mdi-magnify mdi-24px"></i>
                            </span>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" class="reset button is-danger is-normal is-outlined"
                        style="margin-bottom: 0.9rem;"><span><i class="mdi mdi-filter-remove-outline"></i> Limpar Filtros </span>
                </button>
            </div>
        </div>
    </div>
</div>