<html lang="pt-pt">
{% load static %}

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="{% static 'diaabertoapp/bulma.css' %}" />
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <meta charset="utf-8" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="width=device-width,initial-scale=1" name="viewport" />
  <link href="{% static 'diaabertoapp/favicon.ico' %}" rel="icon" />
  {{ form.media.css }}
  <title>Dia Aberto</title>
  <style>
    body,
    html {
      min-height: 100%;
      background-size: cover;
      background: linear-gradient(to bottom, #ffffff, #eeeeff) no-repeat fixed center center;
    }

    * {
      outline: none;
    }
  </style>
 
</head>

<body>
  <div data-v-8716d23a="" id="app">
    {% include "includes/navbar.html" %}
    <div data-v-8716d23a="" id="top-hero" class="hero is-primary is-bold">
      <div data-v-8716d23a="" id="top-hero-body" class="hero-body"></div>
    </div>
    <div data-v-8716d23a="" id="page-content">
      <div data-v-8716d23a="" class="card">
        <div data-v-8716d23a="" class="card-content">
          <div data-v-8716d23a="" id="top">
            <nav aria-label="breadcrumbs" class="breadcrumb">
              <ul>
                <li><a href="/" class="router-link-active">Início</a></li>
                <li><a href="/tarefas" class="">Tarefas</a></li>
                <li class="is-active">
                  <a href="/adicionartarefa" class="router-link-exact-active router-link-active">Adicionar Tarefa</a>
                </li>
              </ul>
            </nav>
            <div style="padding: 3rem 2vw 1rem;">
              <div class="b-steps">
                <nav class="steps is-success">
                  <ul class="step-items">
                    <li class="step-item is-success is-active">
                      <a class="step-link">
                        <div class="step-marker">
                          <span class="icon"><i class="mdi mdi-account-card-details mdi-24px"></i></span>
                        </div>
                        <div class="step-details">
                          <span class="step-title">Adicionar Tarefa</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </nav>
                  <form method="POST" action=".">
                          {% csrf_token %}
                      
                <section class="step-content">
                  <div class="step-item" style="">
                    <div style="padding: 1rem 2vw 0px;">
                      <hr />
               
                      <div class="column is-offset-3 is-6">
                        
                        <div class="block">
                            <div id="nomes">
                                
                                <div  class="field">
                                    <label class="label">Nome da Tarefa:</label>
                                    <div class="control is-clearfix">
                                        <input type="text" id="nome" name="nome" class="input" placeholder="Escreva o nome da tarefa">
                                    </div>
                                    <!---->
                                </div>
                            
                            </div>



                        </div>

                        <div class="block">
                          <div class="field">
                            <label class="label">Tipo de Tarefa:</label>
                            <!---->
                          </div>

                           <!--- <input type="hidden" value="" id="tipo_tarefa" name="tipo_tarefa">-->{{ form.tipo_tarefa }}
                          <label class="b-radio radio" style="margin-right: 1rem;"><input onclick="a(1)" type="radio" id="checkradio1"
                              name="checkradio" value="1" />
                            
                            <span class="check"></span>
                            <span class="control-label">
                              Atividade
                            </span></label><label class="b-radio radio" style="margin-right: 1rem;"><input onclick="a(2)" type="radio"
                              id="checkradio2" name="checkradio" value="2" />
                            <span class="check"></span>
                            <span class="control-label">
                              Acompanhar participantes
                            </span></label><label class="b-radio radio"><input onclick="a(3)" type="radio" name="checkradio"
                              id="checkradio3" value="3" />
                            <span class="check"></span>
                            <span class="control-label"> Outra </span></label>
                        </div>

                                                    <div class="field">
                                                      <label class="label">Data:</label>
                                                        <p class="control has-icons-left ">
                                                         
                                                        <input class="input" type="date" name="dia" id="data" min="{{diaaberto.data_inicio|date:'yy-m-d'}}" max="{{diaaberto.data_fim|date:'yy-m-d'}}"/>
                                                        <span class="icon is-small is-left">
                                                          <i class="fas fa-envelope"></i>
                                                        </span>
                                                        <span class="icon is-small is-left">
                                                          <i class="mdi mdi-calendar"></i>
                                                        </span>
                                                      </p>
                                                    </div>


                          <div class="columns">
                          <div class="column">
                         
                              <div id="divHoras" class="container" style="display:none">
                                  <div class="label"> Horário de Início:
                                    <input type="time" name="horario" id="horas" class="input" />
                                  </div>
                              </div>

                              

                            <!---->
                          </div>
                        </div>
                        <!---->
                        <div>



                            <div id="atividades" style="display: none;">
                            <!--<div class="field"><label class="label">Nome da Atividade:</label>
                             
                                

                                 <div class="control is-expanded has-icons-left">
                                                <span class="select is-fullwidth is-full">
                                                    
                                                    {{ form.atividade }}                                               
                                                </span>
                                                <span class="icon is-left">
                                                    <i class="mdi mdi-magnify mdi-24px"></i>
                                                </span>
                                  </div>
                                
                              
                              
                            </div>-->
                                <div class="label"> Atividades:
                                    <span class="select is-fullwidth is-full">
                                        <select class="input" id="atividade" name="atividade">

                                        </select>
                                    </span>
                                </div>
                                <div class="label"> Sessões:
                                    <span class="select is-fullwidth is-full">
                                        <select class="input" id="sessoesSelect" name="sessao">

                                        </select>
                                    </span>
                                </div>
                          </div>


                         <div id="duracao" style="display: none;" class="field">
                            <label class="label">Duração da Tarefa em minutos:</label>
                            <div class="control is-clearfix">
                              <input type="number" id="duracao" name="duracao" class="input" step="5" min="5" ></input>
                              <!---->
                              <!---->
                              
                            </div>
                            <!---->
                         </div>


                          <div id="descript" style="display: none;" class="field">
                            <label class="label">Descrição da Tarefa:</label>
                            <div class="control is-clearfix">
                              <textarea id="descricao" name="descricao" maxlength="100" class="textarea"></textarea>
                              <!---->
                              <!---->
                              <small class="help counter is-invisible">
                                39 / 100
                              </small>
                            </div>
                            <!---->
                          </div>

                          <div>
                            <div id="percursos" style="display: none;">
                              <div class="field">
                                <label class="label">Local de encontro:</label>
                                <div class="autocomplete control">
                                 
                                    <div class="control is-expanded has-icons-left">
                                                <span class="select is-fullwidth ">
                                                    <select  id="salaSearchEnc" name="localizacao_grupo"><!--onchange="searchByType()"-->
                                                        
                                                        {% for sala in salas %}
                                                            <option value="{{ sala.id }}">{{ sala.edificio.nome }} &nbsp; Sala: {{ sala.identificacao }}&nbsp; Campus: {{ sala.edificio.campus.nome }}</option>
                                                             
                                                        {% endfor %}
                                                    </select>
                                                </span>
                                                <span class="icon is-left">
                                                    <i class="mdi mdi-magnify mdi-24px"></i>
                                                </span>
                                  </div>
                                  
                                </div>
                                <!---->
                              </div>
                              <div class="field">
                                <label class="label">Local de destino:</label>
                                <div class="autocomplete control">
                                 
                                     <div class="control is-expanded has-icons-left">
                                                <span class="select is-fullwidth ">
                                                    <select  id="salaSearchDesct" name="destino"><!--onchange="searchByType()"-->
                                                       
                                                        {% for sala in salas %}
                                                            <option value="{{ sala.id }}">{{ sala.edificio.nome }} &nbsp; Sala: {{ sala.identificacao }}&nbsp; Campus: {{ sala.edificio.campus.nome }}</option>
                                                             
                                                        {% endfor %}
                                                    </select>
                                                </span>
                                                <span class="icon is-left">
                                                    <i class="mdi mdi-magnify mdi-24px"></i>
                                                </span>
                                  </div>

                                </div>
                                <!---->
                              </div>

                                        
                                <div class="field">
                                <label class="label">Grupo/s a Transportar:</label>
                                
                                 
                                   
                                           
                                              <!--- {{ form.grupo }} --->
                                              
                                        <div class=" control is-expanded ">
                                            <span class="select is-multiple is-fullwidth ">
                                                <select id="gruposSelect" name="grupo"  multiple></select>
                                            </span>
                                         </div>      
                                          
                                  

                                
                                <!---->
                              </div>

                                            
                            </div>
                          </div>

                          

                        </div>
                      </div>
                        
                      <hr />
                    </div>
                  </div>
                </section>
                <div class="column is-8 is-offset-2">
                  <div class="level">
                    <div class="level-left">
                      <a href="/tarefas" class="button is-outlined" type="button">
                        <!---->
                        <span> Cancelar </span>
                        <!----></a>
                    </div>
                    <div class="level-right">
                      <button type="submit" class="button is-large is-success is-outlined">
                        <!---->
                        <span> Adicionar Tarefa </span>
                        <!---->
                      </button>
                    </div>
                      
                  </div>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer data-v-8716d23a="" class="footer">
      <div data-v-8716d23a="" style="float: left;">(c) 2020</div>
      <div data-v-8716d23a="" style="float: right;">Designed by Grupo 9</div>
      <div data-v-8716d23a="" style="margin: auto; width: max-content;">
        Dia Aberto
      </div>
    </footer>
  </div>

  <script src="https://unpkg.com/vue"></script>
  <!-- Full bundle -->
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

  <!-- Individual components -->
  <script src="https://unpkg.com/buefy/dist/components/table"></script>
  <script src="https://unpkg.com/buefy/dist/components/input"></script>
  <script>
    src = "https://unpkg.com/axios/dist/axios.min.js";
  </script>
  <script>
    src = "https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js";
  </script>
  <script>
    src = "https://unpkg.com/cleave.js/dist/cleave.min.js";
  </script>
  <script>
    src = "https://cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js";
  </script>
  <script>
    src =
      "https://cdn.jsdelivr.net/npm/vee-validate@2.1.0-beta.9/dist/vee-validate.min.js";
  </script>
        

    
        <script>
        $(document).ready(function () {
            $("#horas").change(function () {
               
               var options = document.querySelectorAll('#gruposSelect option');
               options.forEach(o => o.remove());
               
              

                var horas = $("#horas").val();
                var data = $("#data").val();
                var sala = $("#salaSearchEnc").val();

                    $.ajax({
                        url: '{% url "grupos_switch" %}',
                          data: {
                              'data' : data,
                              'horas': horas,
                              'sala' : sala
                          },
                      dataType: 'json',
                      success: function (dados) {
                         
                        if (typeof dados.idinscricao[0] !== 'undefined') {   // this is good
                             ;
                          
                          var lista = dados.idinscricao;
                          var x = lista.length;
                          var grupos = document.getElementById("gruposSelect");                
                         
                           
                          for(var i = 0; i < x; i++){
                            var option = document.createElement("option");
                            option.value = lista[i];
                            option.text = "Grupo "+lista[i];
                            grupos.add(option);
                           }
                        }


                      }
                    });


            }

            );
           }
        );

    </script>
    <script>
        $(document).ready(function () {
            $("#salaSearchEnc").change(function () {
               
               var options = document.querySelectorAll('#gruposSelect option');
               options.forEach(o => o.remove());
               
              

                var horas = $("#horas").val();
                var data = $("#data").val();
                var sala = $("#salaSearchEnc").val();

                    $.ajax({
                        url: '{% url "grupos_switch" %}',
                          data: {
                              'data' : data,
                              'horas': horas,
                              'sala' : sala
                          },
                      dataType: 'json',
                      success: function (dados) {
                         
                        if (typeof dados.idinscricao[0] !== 'undefined') {   // this is good
                             ;
                          
                          var lista = dados.idinscricao;
                          var x = lista.length;
                          var grupos = document.getElementById("gruposSelect");                
                         
                           
                          for(var i = 0; i < x; i++){
                            var option = document.createElement("option");
                            option.value = lista[i];
                            option.text = "Grupo "+lista[i];
                            grupos.add(option);
                           }
                        }


                      }
                    });


            }

            );
           }
        );

    </script>

    <script>

        $(document).ready(function () {
            $("#data").change(function () {
               
              
               var options = document.querySelectorAll('#gruposSelect option');
               options.forEach(o => o.remove());
               

                var horas = $("#horas").val();
                var data = $("#data").val();
                var sala = $("#salaSearchEnc").val();

                    $.ajax({
                        url: '{% url "grupos_switch" %}',
                          data: {
                              'data' : data,
                              'horas': horas,
                              'sala' : sala
                          },
                      dataType: 'json',
                      success: function (dados) {
                         
                        if (typeof dados.idinscricao[0] !== 'undefined') {   // this is good
                            
                          
                          var lista = dados.idinscricao;
                          var x = lista.length;
                          var grupos = document.getElementById("gruposSelect");                
                         
                           
                          for(var i = 0; i < x; i++){
                            var option = document.createElement("option");
                            option.value = lista[i];
                            option.text = "Grupo "+lista[i];
                            grupos.add(option);
                           }
                        }


                      }
                    });


            }

            );
           }
        );

    </script>





    <script>

        $(document).ready(function () {
            $("#data").change(function () {
               
              
               var options = document.querySelectorAll('#atividade option');
               options.forEach(o => o.remove());
               

                var data = $("#data").val();

                    $.ajax({
                        url: '{% url "activity_switch" %}',
                          data: {
                              'data' : data
                          },
                      dataType: 'json',
                      success: function (dados) {
                         
                        if (typeof dados.activity_list[0] !== 'undefined') {   // this is good
                            
                          
                          var lista = dados.activity_list;
                        alert(lista[0]);
                          var nomes = dados.activity_name_list; 
                          var x = lista.length;
                          var grupos = document.getElementById("atividade");                
                         
                           
                          for(var i = 0; i < x; i++){
                            var option = document.createElement("option");
                            option.value = lista[i];
                            option.text = nomes[i];
                            grupos.add(option);
                           }
                        }


                      }
                    });


            }

            );
           }
        );

    </script>  

     <script>

        $(document).ready(function () {
            $("#atividade").change(function () {
               
              
               var options = document.querySelectorAll('#sessoesSelect option');
               options.forEach(o => o.remove());
               
                var data = $("#data").val();
                var atividade = $("#atividade").val();

                    $.ajax({
                        url: '{% url "sessions_switch" %}',
                          data: {
                              'atividade' : atividade,
                                'data' : data
                          },
                      dataType: 'json',
                      success: function (dados) {
                         
                        if (typeof dados.sessions_list[0] !== 'undefined') {   // this is good
                            
                          
                          var lista = dados.sessions_list;
                          alert(lista[0]);
                          var horas = dados.sessions_hours_list; 
                          var x = horas.length;
                          var grupos = document.getElementById("sessoesSelect");                
                         
                           
                          for(var i = 0; i < x; i++){
                            var option = document.createElement("option");
                            option.value = lista[i];
                            option.text = horas[i];
                            grupos.add(option);
                           }
                        }


                      }
                    });


            }

            );
           }
        );

    </script>  

    <script>

        const example1 = { data() { return { showWeekNumber: false }}}

        const app2 = new Vue(example2)
        app2.$mount('#app2')
            

    </script>
    
    
    <script>
    const example = {
      data() {
        return {
          minutesGranularity: 15,
          hoursGranularity: 2,
        };
      },
    };

    const app = new Vue(example);
    app.$mount("#app");
  </script>
  <script>
      function a(id) {
          var tipo_t = "";
          if (id == 1) {
              document.getElementById("divHoras").style.display = "none";
              document.getElementById("atividades").style.display = "block";
              document.getElementById("descript").style.display = "none";
              document.getElementById("percursos").style.display = "none";
              document.getElementById("salaSearchEnc").value = "";
              document.getElementById("salaSearchDesct").value = "";
              document.getElementById("descricao").value = "";
              document.getElementById("atividade").value = "";
              document.getElementById("sessoesSelect").value = "";
              document.getElementById("gruposSelect").value = "";
              document.getElementById("duracao").style.display = "none";
              document.getElementById("duracao").value = "5";
              document.getElementById("horas").value = "";
             
              document.getElementById("tipo_tarefa").value = "AV";
             

          } else if (id == 2) {
              document.getElementById("atividades").style.display = "none";
              document.getElementById("descript").style.display = "none";
              document.getElementById("percursos").style.display = "block";
              document.getElementById("duracao").style.display = "none";
              document.getElementById("divHoras").style.display = "block";
              document.getElementById("duracao").value = "5";
              document.getElementById("salaSearchEnc").value = "";
              document.getElementById("salaSearchDesct").value = "";
              document.getElementById("descricao").value = "";
              document.getElementById("atividade").value = "";
              document.getElementById("sessoesSelect").value = "";
              document.getElementById("gruposSelect").value = "";
              document.getElementById("tipo_tarefa").value = "PE";
             

          } else if (id == 3) {
              document.getElementById("atividades").style.display = "none";
              document.getElementById("descript").style.display = "block";
              document.getElementById("percursos").style.display = "none";
              document.getElementById("duracao").style.display = "block";
              document.getElementById("divHoras").style.display = "block";
              document.getElementById("duracao").value = "";
              document.getElementById("salaSearchEnc").value = "";
              document.getElementById("salaSearchDesct").value = "";
              document.getElementById("atividade").value = "";
              document.getElementById("sessoesSelect").value = "";
              document.getElementById("gruposSelect").value = "";
             
              document.getElementById("tipo_tarefa").value = "OT";
             
          }
      }
  </script>
</body>

</html>