<!DOCTYPE HTML>
{% load static %}
<html lang="pt-pt">

<head>

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'diaabertoapp/bulma.css' %}">  
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">
    <script src="{% static 'diaabertoapp/dist/bulma.js' %}"></script>
    <script src="{% static 'diaabertoapp/dist/bulma-steps.js' %}"></script>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="{% static 'diaabertoapp/favicon.ico' %}" rel="icon">
    <title>Configurar U.O e Departamentos - Dia Aberto</title>
    <style>
        body,
        html {
            min-height: 100%;
            background-size: cover;
            background: linear-gradient(to bottom, #ffffff, #eeeeff) no-repeat fixed center center;
        }

        * {
            outline: none;
        }
        .footer{
          position: fixed;
          bottom: 0;
          width: 100%;
        }
        /* Style the tab content */
        .tabcontent {
          display: none;
          padding-left: .8em;
          padding-right: .8em;
        }
        .tabdcontent {
          padding-left: .8em;
          padding-right: .8em;
          padding-bottom: .8em
        }
        /* Style the tab */
        .tab {
          /*overflow: hidden;*/
          border: 0px solid #ccc;
          /*background-color: #f1f1f1;*/
        }
        
        .tab a {
          border: none;
          /*outline: none;*/
          cursor: pointer;
          transition: 0.3s;
        }
        /* Change background color of buttons on hover */
        .tab a:hover {
                /*background-color: #ddd;*/
        }
        .tab a.active {
          background-color: #3273dc;
          color: white;
        }
        .tabs {
            margin-bottom: 0px
            /*style="margin-bottom:0px"*/
        }

        element.style {
        }

        .b-steps .steps .step-items .step-item.is-completed .step-marker {
            background-color: #23d160;
            border-color: #23d160;
            color: white;
        }
        .b-steps .steps .step-items .step-item:after, .b-steps .steps .step-items .step-item:before {
            background: -webkit-gradient(linear,right top,left top,color-stop(50%,#23d160),color-stop(50%,#23d160));
        }
        .tabfields.invalid {
            background-color: #ffdddd;
        }
        .notices{
            position: fixed;
            display: flex;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 8em;
            overflow: hidden;
            z-index: 1000;
            pointer-events: none;
        }

    </style>
    
</head>

<body>
    <div data-v-8716d23a="" id="app">
        <nav data-v-a67fe1ba="" data-v-8716d23a="" role="navigation" aria-label="main navigation" class="navbar">
            <div class="navbar-brand">
                <a data-v-a67fe1ba="" href="/" class="navbar-item logo router-link-active">
                    <img data-v-a67fe1ba="" alt="Dia Aberto" src="{% static 'diaabertoapp/img/logo-navbar.png' %}">
                </a>
                <a role="button" aria-label="menu" class="navbar-burger burger">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                          Atividades
                        </a>
                        <div class="navbar-dropdown">
                            <a data-v-a67fe1ba="" href="/minhasatividades" class="navbar-item is-tab router-link"> Minhas Atividades </a>
                            <a data-v-a67fe1ba="" href="/consultaratividades" class="navbar-item is-tab router-link">Consultar Atividades</a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                          Tarefas
                        </a>
                        <div class="navbar-dropdown">
                            <a data-v-a67fe1ba="" href="/tarefas" class="navbar-item is-tab router-link"> Minhas Tarefas </a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                          Transportes
                        </a>
                        <div class="navbar-dropdown">
                            <a data-v-a67fe1ba="" href="/transportes" class="navbar-item is-tab router-link"> Meus Transportes </a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                          Gestão de Configurações
                        </a>
                        <div class="navbar-dropdown">
                            <a data-v-a67fe1ba="" href="/configuraratividades" class="navbar-item is-tab">Configuração das Atividades</a>
                            <a data-v-a67fe1ba="" href="/configurarespacos" class="navbar-item is-tab"> Configuração dos Espaços </a>
                            <a data-v-a67fe1ba="" href="/configurarorganicasdepartamentos" class="navbar-item is-tab is-active"> Configuração das Unidades Orgânicas e Departamentos </a>
                            <a data-v-a67fe1ba="" href="/configurartransporte" class="navbar-item is-tab router-link-exact-active router-link-active">Configuração dos Transportes</a>
                            <a data-v-a67fe1ba="" href="/configurarpercurso" class="navbar-item is-tab">Configuração dos Percursos</a>
                            <a data-v-a67fe1ba="" href="/configurarhorario" class="navbar-item is-tab">Configuração dos Horários</a>
                            <a data-v-a67fe1ba="" href="/configurarprato" class="navbar-item is-tab">Configuração dos Menus</a>
                        </div>
                    </div>  
                 </div>
                <div class="navbar-end">
                    <div data-v-a67fe1ba="" class="navbar-item">
                        <div data-v-a67fe1ba="" class="dropdown is-bottom-left is-mobile-modal">
                            <div role="button" aria-haspopup="true" class="dropdown-trigger">
                                <span data-v-a67fe1ba="" role="button">
                                    <button data-v-a67fe1ba="" type="button" data-badge="0" class="button has-badge-rounded has-badge-warning is-text" style="margin-right: 0.9rem;">
                                        <!---->
                                        <span>
                                            <span data-v-a67fe1ba="" class="icon">
                                                <i class="mdi mdi-bell mdi-24px"></i>
                                            </span>
                                        </span>
                                        <!---->
                                    </button>
                                </span>
                            </div>
                            <div aria-hidden="true" class="background" style="display: none;"></div>
                            <div aria-hidden="true" class="dropdown-menu" style="display: none;">
                                <div role="menu" class="dropdown-content">
                                    <div data-v-a67fe1ba="" role="menuitem" tabindex="0" class="dropdown-item">
                                        <strong data-v-a67fe1ba="">Notificações</strong>
                                    </div>
                                    <hr data-v-a67fe1ba="" class="dropdown-divider">
                                    <div data-v-a67fe1ba="">
                                        <div data-v-a67fe1ba="" tabindex="0" class="dropdown-item">
                                            <div data-v-a67fe1ba="" class="has-text-grey"> Não tem novas notificações! </div>
                                        </div>
                                        <hr data-v-a67fe1ba="" class="dropdown-divider">
                                    </div>
                                    <a data-v-a67fe1ba="" tabindex="0" class="dropdown-item">
                                        <u data-v-a67fe1ba="">Ver todas as notificações</u>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div data-v-a67fe1ba="" class="dropdown is-bottom-left is-mobile-modal">
                            <div role="button" aria-haspopup="true" class="dropdown-trigger">
                                <button data-v-a67fe1ba="" type="button" class="button is-text" style="margin-right: 0.9rem;">
                                    <!---->
                                    <span>
                                        <span data-v-a67fe1ba="" class="icon">
                                            <i class="mdi mdi-account-circle mdi-24px"></i>
                                        </span>
                                    </span>
                                    <!---->
                                </button>
                            </div>
                            <div class="background" style="display: none;" aria-hidden="true"></div>
                            <div class="dropdown-menu"  aria-hidden="true">
                                <div role="list" class="dropdown-content">
                                    <div data-v-a67fe1ba="" role="listitem" tabindex="0" class="dropdown-item has-text-centered"><strong>Meu perfil</strong></div>
                                    <hr />
                                    {% if user.is_authenticated %}
                                        <div data-v-a67fe1ba="" role="listitem" tabindex="0" class="is-grey dropdown-item has-text-centered">{{ utilizador.nome }}</div>
                                        <div data-v-a67fe1ba="" role="listitem" tabindex="0" class="is-grey dropdown-item has-text-centered"><small>{{ utilizador.utilizadortipo }}</small></div>
                                    <hr />
                                        <div data-v-a67fe1ba="" role="listitem" tabindex="0" class="dropdown-item is-small"><small>{{ utilizador.unidadeorganica }}</small></div>
                                        <div data-v-a67fe1ba="" role="listitem" tabindex="0" class="dropdown-item is-small"><small>{{ utilizador.departamento }}</small></div>
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'logout' %}" data-v-a67fe1ba="" type="button" class="button">
                            <span class="icon is-small">
                                <i class="mdi mdi-logout-variant"></i>
                            </span>
                            <span> Sair </span>
                            <!---->
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <div data-v-8716d23a="" id="top-hero" class="hero is-primary is-bold">
            <div data-v-8716d23a="" id="top-hero-body" class="hero-body"></div>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div id="message_container" class="notices is-bottom"><div role="alert" {% if message.tags == 'error' %} class="toast is-danger is-bottom" {% else %} class="toast is-success is-bottom" {% endif %} style=""><div>{{ message }}</div></div></div>
            {% endfor %}
        {% endif %}

        <div data-v-8716d23a="" id="page-content">
            <div data-v-8716d23a="" class="card" style="margin-bottom:6em">
                <div data-v-8716d23a="" class="card-content">
                    <div data-v-8716d23a="" id="top">
                        <nav aria-label="breadcrumbs" class="breadcrumb">
                            <ul>
                                <li>
                                    <a href="/index" class="router-link-active">Início</a>
                                </li>
                                <li class="is-active">
                                    <a href="/configurarorganicas" class="">Configuração das Unidades Orgânicas e Departamentos</a>
                                </li>
                            </ul>
                        </nav>
                        <div style="padding: 3rem 2vw 1rem;">
                            <div class="columns">        
                                <div class="column is-one-quarter"> 
                                    <div class="container box">
                                        <div class="level">
                                            <div class="level-left">
                                                <div class="level-item">
                                                    <p class="menu-label">Filtros</p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <form method="GET" action=".">                                           
                                            <div class="field has-addons">
                                                <!---->
                                                {% if not organicaquery|length > 0 %}
                                                <div class="control is-expanded ">
                                                    <span class="select is-fullwidth is-empty">
                                                        <select  id="organicaSearch" name="organica"><!--onchange="searchByType()"-->
                                                            <option disabled="disabled" hidden="hidden" selected>
                                                                Unidade Orgânica
                                                            </option>
                                                            {% for organica in organicas %}
                                                                <option value="{{ organica.id }}">{{ organica.nome }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </span>
                                                    <!--<span class="icon is-left">
                                                        <i class="mdi mdi-magnify mdi-24px"></i>
                                                    </span>-->
                                                </div>
                                                <div class="control">
                                                    <button class="button is-primary"> <i class="mdi mdi-magnify mdi-12px"></i></button>
                                                </div>
                                                {% else %}
                                                <div class="control is-expanded ">
                                                    <span class="select is-fullwidth is-empty">
                                                        <select  id="organicaSearch" name="organica"><!--onchange="searchByType()"-->
                                                            {% for organica in organicas %}
                                                                <option value="{{ organica.id }}">{{ organica.nome }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </span>
                                                    <!--<span class="icon is-left">
                                                        <i class="mdi mdi-magnify mdi-24px"></i>
                                                    </span>-->
                                                </div>
                                                <!---->
                                                <div class="control">
                                                    <button class="button is-danger" onclick="document.getElementById('organicaSearch').value = ''"> <i class="mdi mdi-close mdi-12px"></i></button>
                                                  </div>
                                                {% endif %}
                                            </div>
                                            <div class="field has-addons">
                                            <!---->
                                            {% if not nomesquery|length > 0 %}
                                                <div class="control is-expanded">
                                                    <div class="control is-clearfix">
                                                        <input type="search" autocomplete="off" id="nameSearch" name="nome"  placeholder="Nome do departamento" class="input"><!--onkeyup="searchByName()"-->
                                                        <!--<span class="icon is-left">
                                                            <i class="mdi mdi-magnify mdi-24px"></i>
                                                        </span>-->
                                                        <!---->
                                                        <!---->
                                                    </div>
                                                
                                                </div>
                                                <div class="control">
                                                    <button type="submit" class="button is-primary"> <i class="mdi mdi-magnify mdi-12px"></i></button>
                                                  </div>
                                            {% else %}<div class="control is-expanded">
                                                    <div class="control is-clearfix">
                                                        <input type="text" autocomplete="off" id="nameSearch" name="nome"  placeholder="Nome do departamento" class="input" value="{{ nomesquery }}"><!--onkeyup="searchByName()"-->
                                                        <!--<span class="icon is-left">
                                                            <i class="mdi mdi-magnify mdi-24px"></i>
                                                        </span>-->
                                                        <!---->
                                                        <!---->
                                                    </div>
                                                
                                                </div>
                                                <div class="control">
                                                    <button class="button is-danger" onclick="document.getElementById('nameSearch').value = ''"> <i class="mdi mdi-close mdi-12px"></i></button>
                                                  </div>
                                            {% endif %}
                                            <!---->
                                        </div>
                                        </form>
                                        <br />
                                        <br />
                                        <div class="level">
                                            <div class="level-left">
                                                <div class="level-item">
                                                    <p class="menu-label">Gestão</p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="buttons are-normal">
                                            <a href="/configurarorganicasdepartamentos/organicas" class="button is-info is-outlined is-fullwidth">
                                                <span class="icon is-small">
                                                    <i class="mdi mdi-settings"></i>
                                                </span>
                                                <span>Unidades Orgânicas</span>
                                                <!---->
                                            </a>
                                            <a href="/configurarorganicasdepartamentos/departamentos" class="button is-info is-outlined is-fullwidth" onclick="addClassByClick(this)">
                                                <span class="icon is-small">
                                                    <i class="mdi mdi-settings"></i>
                                                </span>
                                                <span>Departamentos</span>
                                                <!---->
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="container box">
                                        <div class="level">
                                            <div class="level-left">
                                                <div class="level-item">
                                                    <p class="menu-label">Unidades Orgânicas e Departamentos</p>
                                                </div>
                                            </div>
                                            <div class="level-right">

                                                <div class="level-item">
                                                    <div class="field is-grouped">
                                                    <p class="control">
                                                    <a href="?campus=true" class="button is-success is-outlined  is-small">
                                                        <span class="icon is-small">
                                                            <i class="mdi mdi-eye"></i>
                                                        </span>
                                                        <span>Unidade Orgânica</span>
                                                        <!---->
                                                    </a>
                                                    <a href="?edificios=true" class="button is-success is-outlined  is-small">
                                                        <span class="icon is-small">
                                                            <i class="mdi mdi-eye"></i>
                                                        </span>
                                                        <span>Departamento</span>
                                                        <!---->
                                                    </a>
                                                    </p></div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                         <div class="b-table ">
                                            <div class="field table-mobile-sort">
                                                <div class="field has-addons">
                                                    <div class="control is-expanded">
                                                        <span class="select is-fullwidth">
                                                            <select>
                                                                <option value="[object Object]">
                                                                    Unidade Orgânica
                                                                </option>
                                                                <option value="[object Object]">
                                                                    Departamento
                                                                </option>
                                                            </select>
                                                        </span>
                                                        <!---->
                                                    </div>
                                                    <div class="control">
                                                        <button class="button is-primary">
                                                            <span class="icon is-small">
                                                                <i class="mdi mdi-sort"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!---->
                                            <br />
                                            <div class="table-wrapper">
                                                <table id="activitiesTable" class="table has-mobile-cards is-hoverable">
                                                    <thead>
                                                        <tr>
                                                            <!---->
                                                            <th class="is-sortable" style="width: 300px;">
                                                                {% if order_by == 'organica' and sort == 'asc' %}
                                                                <a href="?order_by=organica&sort=desc">
                                                                    <div class="th-wrap">Unidade Orgânica
                                                                        <span class="icon is-small">
                                                                            <i class="mdi mdi-menu-up"></i>
                                                                        </span>
                                                                    </div>
                                                                </a>
                                                                {% elif order_by == 'organica' and sort == 'desc' %}
                                                                <a href="?order_by=organica&sort=asc">
                                                                    <div class="th-wrap">
                                                                        Unidade Orgânica
                                                                        <span class="icon is-small">
                                                                            <i class="mdi mdi-menu-down"></i>
                                                                        </span>
                                                                    </div>
                                                                </a>
                                                                {% else %}
                                                                <a href="?order_by=organica&sort=asc" style="color: black">
                                                                    <div class="th-wrap">
                                                                        Unidade Orgânica
                                                                        <span class="icon is-small">
                                                                            <i class="mdi mdi-menu-swap"></i>
                                                                        </span>
                                                                    </div>
                                                                </a>
                                                                {% endif %}
                                                            </th>
                                                            <th class="is-sortable">
                                                                {% if order_by == 'departamento' and sort == 'asc' %}
                                                                <a href="?order_by=departamento&sort=desc">
                                                                    <div class="th-wrap">Departamento
                                                                        <span class="icon is-small">
                                                                            <i class="mdi mdi-menu-up"></i>
                                                                        </span>
                                                                    </div>
                                                                </a>
                                                                {% elif order_by == 'departamento' and sort == 'desc' %}
                                                                <a href="?order_by=departamento&sort=asc">
                                                                    <div class="th-wrap">Departamento
                                                                        <span class="icon is-small">
                                                                            <i class="mdi mdi-menu-down"></i>
                                                                        </span>
                                                                    </div>
                                                                </a>
                                                                {% else %}
                                                                <a href="?order_by=departamento&sort=asc" style="color: black">
                                                                    <div class="th-wrap">Departamento
                                                                        <span class="icon is-small">
                                                                            <i class="mdi mdi-menu-swap"></i>
                                                                        </span>
                                                                    </div>
                                                                </a>
                                                                {% endif %}
                                                            </th>
                                                            <!---->
                                                        </tr>
                                                        <!---->
                                                        <!---->
                                                    </thead>
                                                    <tbody>
                                                        {% for departamento in departamentos %}
                                                        <tr draggable="false" class="header">
                                                            <!---->
                                                            <td data-label="Unidade Orgânica" id="activityName" class=""> {{ departamento.unidadeorganica }} </td>
                                                            <td data-label="Departamento" class=""> {{ departamento.nome }} </td>
                                                            <!---->
                                                        </tr>
                                                        <!---->
                                                        <!---->
                                                        {% endfor %}
                                                    </tbody>

                                                    <!---->
                                                </table>
                                            </div>
                                             {% if departamentos.has_other_pages %}
                                                <div class="level">
                                                    <div class="level-left"></div>
                                                    <div class="level-right">
                                                        <div class="level-item">
                                                            <nav class="pagination">
                                                                {% if departamentos.has_previous %}
                                                                    {% if order_by is not None %}
                                                                        <a role="button" href="?page={{ departamentos.previous_page_number }}&order_by={{ order_by }}&sort={{ sort }}" class="pagination-link pagination-previous">
                                                                        <span class="icon" aria-hidden="true">
                                                                                <i class="mdi mdi-chevron-left mdi-24px"></i>
                                                                            </span>
                                                                        </a>
                                                                    {% else %}
                                                                        <a role="button" href="?page={{ departamentos.previous_page_number }}" class="pagination-link pagination-previous">
                                                                        <span class="icon" aria-hidden="true">
                                                                                <i class="mdi mdi-chevron-left mdi-24px"></i>
                                                                            </span>
                                                                        </a>
                                                                    {% endif %}
                                                                {% else %}
                                                                <a role="button" href="#" disabled="disabled" class="pagination-link pagination-previous">
                                                                    <span class="icon" aria-hidden="true">
                                                                        <i class="mdi mdi-chevron-left mdi-24px"></i>
                                                                    </span>
                                                                </a>
                                                                {% endif %}
                                                                {% if departamentos.has_next %}
                                                                    {% if order_by is not None %}
                                                                        <a role="button" href="?page={{ departamentos.next_page_number }}&order_by={{ order_by }}&sort={{ sort }}" class="pagination-link pagination-next">
                                                                            <span class="icon" aria-hidden="true">
                                                                                <i class="mdi mdi-chevron-right mdi-24px"></i>
                                                                            </span>
                                                                        </a>
                                                                    {% else %}
                                                                        <a role="button" href="?page={{ departamentos.next_page_number }}" class="pagination-link pagination-next">
                                                                            <span class="icon" aria-hidden="true">
                                                                                <i class="mdi mdi-chevron-right mdi-24px"></i>
                                                                            </span>
                                                                        </a>
                                                                    {% endif %}
                                                                {% else %}
                                                                <a role="button" href="#" disabled="disabled" class="pagination-link pagination-next">
                                                                    <span class="icon" aria-hidden="true">
                                                                        <i class="mdi mdi-chevron-right mdi-24px"></i>
                                                                    </span>
                                                                </a>
                                                                {% endif %}
                                                                <ul class="pagination-list">
                                                                    <!---->
                                                                    <!---->
                                                                    {% for i in departamentos.paginator.page_range %}
                                                                    {% if departamentos.number == i %}
                                                                    <li>
                                                                        <a role="button" href="#" aria-current="true" class="pagination-link is-current ">{{ i }}</a>
                                                                    </li>
                                                                    {% else %}
                                                                    {% if order_by is not None %}
                                                                    <li>
                                                                        <a role="button" href="?page={{ i }}&order_by={{ order_by }}&sort={{ sort }}" aria-current="true" class="pagination-link ">{{ i }}</a>
                                                                    </li>
                                                                    {% else %}
                                                                    <li>
                                                                        <a role="button" href="?page={{ i }}" aria-current="true" class="pagination-link ">{{ i }}</a>
                                                                    </li>
                                                                    {% endif %}
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                    <!---->
                                                                    <!---->
                                                                </ul>
                                                            </nav>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--NOVA TABELA INICIO-->
                       
                        <!--NOVA TABELA FIM-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div data-v-8716d23a="" style="float: left;"> © 2020 Universidade do Algarve </div>
        <div data-v-8716d23a="" style="float: right;"> Made by Grupo 9 </div>
        <div data-v-8716d23a="" style="margin: auto; width: max-content;"> Dia Aberto da Universidade do Algarve </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('tr.header').click(function () {
                //$(this).find('span').find('i').toggleClass('fa-thumbs-down');
                if ($(this).find('span').find('i').hasClass('mdi mdi-chevron-right mdi-24px')) {
                    $(this).find('span').find('i').removeClass("mdi mdi-chevron-right mdi-24px").addClass("mdi mdi-chevron-down mdi-24px");
                  }else{
                       $(this).find('span').find('i').removeClass("mdi mdi-chevron-down mdi-24px").addClass("mdi mdi-chevron-right mdi-24px");
                  }
                $(this).nextUntil('tr.header').slideToggle(100, function(){
                    });
            });
        });
    </script>
    <script>
        // suppose the `id` attribute of element is `message_container`.
        var message_ele = document.getElementById("message_container");

        setTimeout(function(){ 
           message_ele.style.display = "none"; 
        }, 4000);
        // Timeout is 3 sec, you can change it

    </script>
    <script>
        function addClassByClick(button){
          $(button).addClass("is-loading")
        }
    </script>
</body>

</html>