<!DOCTYPE HTML>
{% load static %}
<html lang="pt-pt">

<head>

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'diaabertoapp/bulma.css' %}">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <script src="{% static 'diaabertoapp/dist/bulma.js' %}"></script>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="{% static 'diaabertoapp/favicon.ico' %}" rel="icon">
    <title>Página Não Encontrada - Dia Aberto</title>
    <style>
        body,
        html {
            min-height: 100%;
            background-size: cover;
            background: linear-gradient(to bottom, #ffffff, #eeeeff) no-repeat fixed center center;
        }
        * {
            outline: none;
        }
        .notices{
            position: fixed;
            display: flex;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 8em;
            overflow: hidden;
            z-index: 1000;
            pointer-events: none;
        }
    </style>
</head>

<body>

    <div data-v-8716d23a="" id="app">
        <div data-v-8716d23a="" id="top-hero" class="hero is-primary is-bold">
            <div data-v-8716d23a="" id="top-hero-body" class="hero-body"></div>
        </div>
        <div data-v-8716d23a="" id="page-content">
            <div data-v-8716d23a="" class="card">
                <div data-v-8716d23a="" class="card-content">
                    <div data-v-8716d23a="">
                        <section class="section">
                            <div class="container">
                                <div class="columns is-centered">
                                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                                        <h1 class="subtitle has-text-centered is-spaced">Página Não Encontrada!</h1>
                                        <h3 class="subtitle has-text-centered is-spaced">Não foi possível aceder à página!</h3>
                                        <hr />
                           
                                    </div>
                                </div>
                                <br />



                            </div>
                        </section>
                        <br />
                        {% if messages %}
                            {% for message in messages %}
                                <div id="message_container" class="notices is-bottom"><div role="alert" class="toast is-danger is-bottom" style=""><div>{{ message }}</div></div></div>
                            {% endfor %}
                        {% endif %}
                        <div class="hero is-light">
                            <div class="hero-body">
                                <div class="columns">
                                    <div class="column is-8">
                                        <p>2019 Dia Aberto por
                                            <a>Grupo 9</a>
                                        </p>
                                        <small> Contacto de suporte:
                                            <a href="">suporte.dia.aberto@ualg.pt</a>
                                        </small>
                                    </div>
                                    <div class="column">
                                        <img src="{% static "diaabertoapp/img/ualg-logo.png" %}" alt="Dia Aberto">
                                    </div>
                                    <div class="column is-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer data-v-8716d23a="" class="footer">
            <div data-v-8716d23a="" style="float: left;"> © 2020 Universidade do Algarve </div>
            <div data-v-8716d23a="" style="float: right;"> Made by Grupo 9 </div>
            <div data-v-8716d23a="" style="margin: auto; width: max-content;"> Dia Aberto da Universidade do Algarve </div>
        </footer>
    </div>
    <script>
        // suppose the `id` attribute of element is `message_container`.
        var message_ele = document.getElementById("message_container");

        setTimeout(function(){ 
           message_ele.style.display = "none"; 
        }, 4000);
        // Timeout is 3 sec, you can change it

    </script>

</body>

</html>