<!DOCTYPE HTML>
{% load static %}
<html lang="pt-pt">

<head>

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'diaabertoapp/bulma.css' %}">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">
    <script src="{% static 'diaabertoapp/dist/bulma.js' %}"></script>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="{% static 'diaabertoapp/favicon.ico' %}" rel="icon">
    <title>Página Inicial - Dia Aberto UAlg</title>
    <style>
        body,
        html {
            min-height: 100%;
            background-size: cover;
            background: linear-gradient(to bottom, #ffffff, #eeeeff) no-repeat fixed center center;
        }
        * {
            outline: none;
        }
        .notices{
            position: fixed;
            display: flex;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 8em;
            overflow: hidden;
            z-index: 1000;
            pointer-events: none;
        }
    </style>
</head>

<body>

    <div data-v-8716d23a="" id="app">
        {% include "includes/navbar.html" %}
        <div data-v-8716d23a="" id="top-hero" class="hero is-primary is-bold">
            <div data-v-8716d23a="" id="top-hero-body" class="hero-body"></div>
        </div>
        <div data-v-8716d23a="" id="page-content">
        {% if messages %}
            {% for message in messages %}
            <div id="message_container" class="notices is-bottom"><div role="alert" {% if message.tags == 'error' %} class="toast is-danger is-bottom" {% else %} class="toast is-success is-bottom" {% endif %} style=""><div>{{ message }}</div></div></div>
            {% endfor %}
        {% endif %}
            <div data-v-8716d23a="" class="card">
                <div data-v-8716d23a="" class="card-content">
                    <div data-v-8716d23a="">
                        <div class="section">
                            <div class="columns">
                                <div class="column is-7">
                                    <h1 class="title has-text-centered">{{ diaaberto.titulo }}</h1>
                                    <h1 class="subtitle is-5 has-text-centered"> Simples, Intuitivo, Limpo. </h1>
                                    <p> {{ diaaberto.descricao }} </p>
                                </div>
                                <div class="column is-4">
                                    <img alt="Logo" src="{% static "diaabertoapp/img/logo-large.png" %}">
                                </div>
                            </div>
                        </div>
                        <div class="hero is-light">
                            <div class="hero-body">
                                <div class="columns">
                                    <div class="column is-8">
                                        <p>{{ diaaberto.data_inicio|date:'Y' }} Dia Aberto por
                                            <a>Grupo 9</a>
                                        </p>
                                        <small> Contacto de suporte:
                                            <a href="">{{ diaaberto.email }}</a>
                                        </small>
                                        <p>
                                        <small> Contacto telefónico:
                                            <a href="">{{ diaaberto.contacto }}</a>
                                        </small>
                                        </p>
                                    </div>
                                    <div class="column">
                                        <img src="{% static "diaabertoapp/img/ualg-logo.png" %}" alt="Dia Aberto">
                                    </div>
                                    <div class="column is-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer data-v-8716d23a="" class="footer">
            <div data-v-8716d23a="" style="float: left;">Universidade do Algarve </div>
            <div data-v-8716d23a="" style="float: right;"> Made by Grupo 9 </div>
        </footer>
    </div>
    <script>
        // suppose the `id` attribute of element is `message_container`.
        var message_ele = document.getElementById("message_container");

        setTimeout(function(){ 
           message_ele.style.display = "none"; 
        }, 4000);
        // Timeout is 3 sec, you can change it

    </script>

</body>

</html>