<!DOCTYPE HTML> {% load static %}
<html lang="pt-pt">

<head>

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'diaabertoapp/bulma.css' %}">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'diaabertoapp/dist/bulma.js' %}"></script>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="{% static 'diaabertoapp/favicon.ico' %}" rel="icon">
    <title>Sugerir Alteração - Dia Aberto</title>
    <style>
        body,
        html {
            min-height: 100%;
            background-size: cover;
            background: linear-gradient(to bottom, #ffffff, #eeeeff) no-repeat fixed center center;
        }

        * {
            outline: none;
        }
        .footer{
          position: fixed;
          bottom: 0;
          width: 100%;
        }
        .menu-list a.is-active {
            background-color: white;
            color: black;
        }
        .notices{
            position: fixed;
            display: flex;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 8em;
            overflow: hidden;
            z-index: 1000;
            pointer-events: none;
        }
    </style>
</head>

<body>
    <div id="app">
        {% include "includes/navbar.html" %}
        <div data-v-8716d23a="" id="top-hero" class="hero is-primary is-bold">
            <div data-v-8716d23a="" id="top-hero-body" class="hero-body"></div>
        </div>
        {% if messages %}
            {% for message in messages %}
            <div id="message_container" class="notices is-bottom"><div role="alert" {% if message.tags == 'error' %} class="toast is-danger is-bottom" {% else %} class="toast is-success is-bottom" {% endif %} style=""><div>{{ message }}</div></div></div>
            {% endfor %}
        {% endif %}

        <div data-v-8716d23a="" id="page-content">
            <div data-v-8716d23a="" class="card" style="margin-bottom:6em">
                <div data-v-8716d23a="" class="card-content">
                        
                            <nav aria-label="breadcrumbs" class="breadcrumb">
                                <ul>
                                    <li>
                                        <a href="/" class="router-link-active">Início</a>
                                    </li>
                                    <li class="is-active">
                                        <a href="/solicitaralteracao" class="router-link-exact-active router-link-active">Solicitar alteração</a>
                                    </li>
                                </ul>
                            </nav>
                            <div>
<!------------------------------------------------------------------------------------------------------------------Inicio de Tabela------------------------------------------------------------------------------------------------------------>

                                
                                                <tr class="detail" style="display:none">
                                                    <td colspan="5">
                                                        
                                                        <div class="content">
                                                            <div class="section" style="font-size: 15px;">
                                                                <div class="columns">
                                                                    <div class="column">
                                                                                <p><strong>Nome: </strong> {{ Atividade.nome }} </p>
                                                                                <p><strong>Descrição:</strong> {{ Atividade.descricao }} </p>
                                                                                <p><strong>Tipo de Atividade:</strong> {{ Atividade.tipo_atividade }} </p>
                        
                                                                    </div>
                                                                    <div class="column">
                                                                                <p><strong>Unidade Orgânica:</strong> {{ Atividade.unidadeorganica }} </p>
                                                                                <p><strong>Departamento:</strong> {{ Atividade.departamento }} </p>
                                                                        {% if Atividade.campus or Atividade.edificio or Atividade.sala %}
                                                                                {% if Atividade.campus %}        
                                                                                    <p><strong>Campus:</strong> {{ Atividade.campus }} </p>
                                                                                {% endif %}
                                                                                {% if Atividade.edificio %}
                                                                                        <p><strong>Edificio:</strong> {{ Atividade.edificio }} </p>
                                                                                {% endif %}
                                                                                {% if Atividade.sala %}
                                                                                        <p><strong>Sala:</strong> {{ Atividade.sala }} </p>
                                                                                {% endif %}
                                                                        {% elif Atividade.tipo_local %}
                                                                                <p><strong>Local:</strong> {{ Atividade.tipo_local }}</p>
                                                                        {% else %}
                                                                                <p><strong>Local:</strong> Não especificado</p>
                                                                        {% endif %}

                                                                    </div>
                                                                    <div class="column">
                        
                                                                                <p><strong>Temáticas:</strong> 
                                                                                {% for tema in Atividade.tematicas.all %}
                                                                                    {{ tema }};           
                                                                                {% endfor %}
                                                                                </p>
                                                                                <p><strong>Público-alvo:</strong>
                                                                                {% for alvo in Atividade.publico_alvo.all %}
                                                                                    {{ alvo }};           
                                                                                {% endfor %}
                                                                                </p>
                                                                                <p><strong>Responsável:</strong> {{ Atividade.responsavel }} </p>
                                                                                <p><strong>Data de submissão:</strong> {{ Atividade.data|date:'d-m-Y' }} </p>
                                                                                <p><strong>Estado de submissão:</strong> {{ Atividade.get_validada_display }} </p>
                                                                    </div>
                                                                </div>
        

                                                                <p><strong>Materiais:</strong></p>
                                                                <div class="b-table">
                                                                    <!---->
                                                                    <!---->
                                                                    <div class="table-wrapper">
                                                                        <table class="table has-mobile-cards">
                                                                            <thead>
                                                                                <tr>
                                                                                    <!---->
                                                                                    <!---->
                                                                                    <th class="">
                                                                                        <div class="th-wrap">Material
                                                                                            <span class="icon is-small" style="display: none;">
                                                                                                <i class="mdi mdi-arrow-up"></i>
                                                                                            </span>
                                                                                        </div>
                                                                                    </th>
                                                                                    <th class="">
                                                                                        <div class="th-wrap">Quantidade
                                                                                            <span class="icon is-small" style="display: none;">
                                                                                                <i class="mdi mdi-arrow-up"></i>
                                                                                            </span>
                                                                                        </div>
                                                                                    </th>
                                                                                    <!---->
                                                                                </tr>
                                                                                <!---->
                                                                                <!---->
                                                                            </thead>
                                                                            <tbody>
                                                                                <!---->

                                                                                {% for Mat in materiais %}
                                                                                    {% ifequal Mat.atividade.id Atividade.id %}
                                                                                        <tr draggable="false">
                                                                                            <!---->
                                                                                            <td data-label="Material" class=""> {{ Mat.material }} </td>
                                                                                            <td data-label="Hora" class=""> {{ Mat.quantidade }} </td>
                                
                                                                                            <!---->
                                                                                        </tr>
                                                                                     {% endifequal %}
                                                                                {% endfor %}
                                                                                <!---->
                                                                            </tbody>
                                                                            <!---->
                                                                        </table>
                                                                    </div>
                                                                    <!---->
                                                                </div>

                                                                <br />
                                                                <p><strong>Sessões:</strong></p>
                                                                <div class="b-table">
                                                                    <div class="table-wrapper">
                                                                        <table class="table has-mobile-cards">
                                                                            <thead>
                                                                                <tr>
                                                                                    <!---->
                                                                                    <!---->
                                                                                    <th class="">
                                                                                        <div class="th-wrap">Dia
                                                                                            <span class="icon is-small" style="display: none;">
                                                                                                <i class="mdi mdi-arrow-up"></i>
                                                                                            </span>
                                                                                        </div>
                                                                                    </th>
                                                                                    <th class="">
                                                                                        <div class="th-wrap">Hora
                                                                                            <span class="icon is-small" style="display: none;">
                                                                                                <i class="mdi mdi-arrow-up"></i>
                                                                                            </span>
                                                                                        </div>
                                                                                    </th>
                                                                                    <th class="">
                                                                                        <div class="th-wrap">Duração
                                                                                            <span class="icon is-small" style="display: none;">
                                                                                                <i class="mdi mdi-arrow-up"></i>
                                                                                            </span>
                                                                                        </div>
                                                                                    </th>
                                                                                    <th class="">
                                                                                        <div class="th-wrap">Máximo de participantes
                                                                                            <span class="icon is-small" style="display: none;">
                                                                                                <i class="mdi mdi-arrow-up"></i>
                                                                                            </span>
                                                                                        </div>
                                                                                    </th>
                                                                                    <th class="">
                                                                                        <div class="th-wrap">Número de Colaboradores
                                                                                            <span class="icon is-small" style="display: none;">
                                                                                                <i class="mdi mdi-arrow-up"></i>
                                                                                            </span>
                                                                                        </div>
                                                                                    </th>
                                                                                    <!---->
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                <!---->
                                                                                {% for Sessao in sessoesatividade %}
                                                                                    {% ifequal Sessao.atividade.id Atividade.id %}
                                                                                    <tr draggable="false" class="">
                                                                                        <!---->
                                                                                        <td data-label="Dia" class=""> {{ Sessao.dia|date:'d-m-Y' }} </td>
                                                                                        <td data-label="Hora" class=""> {{ Sessao.sessao.hora|time:"H:i" }} </td>
                                                                                        <td data-label="Duração" class=""> {{ Sessao.atividade.duracao }} minutos</td>
                                                                                        <td data-label="Máximo de participantes" class=""> {{ Sessao.atividade.limite_participantes }} </td>
                                                                                        <td data-label="Número de Colaboradores" class=""> {{ Sessao.numero_colaboradores }} </td>
                                                                                        <!---->
                                                                                    </tr>
                                                                                    {% endifequal %}
                                                                                {% endfor %}
                                                                                <!---->
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </div>
                                    <hr />
                                    <p><strong>Alteração(ões) a solicitar:</strong></p>
                                    <br />
                                    <form action="." method="GET">
                                        <div class="">
                                            <input class="input" placeholder="Campos e alterações respectivas..." name="alteracao" />
                                        </div>
                                        <br />
                                        <div class="level">
                                            <div class="level-left">
                                                <div class="level-item">
                                                    <a href="/minhasatividades" class="button is-danger is-outlined" type="button" onclick="return confirm('Tem a certeza que prentede cancelar? Os dados inseridos são descartados!');">
                                                        <span class="icon is-small">
                                                            <i class="mdi mdi-close mdi-24px"></i>
                                                        </span>
                                                        <span> Cancelar </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="level-right">
                                                <div class="level-item">
                                                    <button type="submit" class="button is-success is-outlined">
                                                                <!---->
                                                                <span> Submeter </span>
                                                                <span class="icon is-small">
                                                                    <i class="mdi mdi-check mdi-24px"></i>
                                                                </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </form>
                            
                                    </div>
                
<!------------------------------------------------------------------------------------------------------------------Fim de Tabela------------------------------------------------------------------------------------------------------------>
                                
                            <!---------------------------------------------------------------------------------------Outra Tabela------------------------------------------------------------------------------------------------>
                            </div>

                        </div>
                    </div>

        <footer class="footer">
            <div data-v-8716d23a="" style="float: left;"> © 2020 Universidade do Algarve </div>
            <div data-v-8716d23a="" style="float: right;"> Made by Grupo 9 </div>
            <div data-v-8716d23a="" style="margin: auto; width: max-content;"> Dia Aberto da Universidade do Algarve </div>
        </footer>
        
    <script src="https://unpkg.com/vue"></script>
    <!-- Full bundle -->
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

    <!-- Individual components -->
    <script src="https://unpkg.com/buefy/dist/components/table"></script>
    <script src="https://unpkg.com/buefy/dist/components/input"></script>
    <script>
        $(document).ready(function () {
            $('tr.header').click(function () {
                //$(this).find('span').find('i').toggleClass('fa-thumbs-down');
                if ($(this).find('span').find('i').hasClass('mdi mdi-chevron-right mdi-24px')) {
                    $(this).find('span').find('i').removeClass("mdi mdi-chevron-right mdi-24px").addClass("mdi mdi-chevron-down mdi-24px");
                  }else{
                       $(this).find('span').find('i').removeClass("mdi mdi-chevron-down mdi-24px").addClass("mdi mdi-chevron-right mdi-24px");
                  }
                $(this).nextUntil('tr.header').slideToggle(100, function(){
                    });
            });
        });
    </script>
    <script>
        new Vue({
            el: '#app'
        })
    </script>
    <script>
        // suppose the `id` attribute of element is `message_container`.
        var message_ele = document.getElementById("message_container");

        setTimeout(function(){ 
           message_ele.style.display = "none"; 
        }, 4000);
        // Timeout is 3 sec, you can change it

    </script>
</body>

</html>