<!DOCTYPE HTML>
{% load static %}
<html lang="pt-pt">

<head>

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'diaabertoapp/bulma.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'diaabertoapp/bulma-radio-checkbox.css' %}">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <script src="{% static 'diaabertoapp/dist/bulma.js' %}"></script>
    <script src="{% static 'diaabertoapp/dist/bulma-steps.js' %}"></script>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="{% static 'diaabertoapp/favicon.ico' %}" rel="icon">
    <title>Configurar Temáticas - Dia Aberto</title>
    <style>
        body,
        html {
            min-height: 100%;
            background-size: cover;
            background: linear-gradient(to bottom, #ffffff, #eeeeff) no-repeat fixed center center;
        }

        * {
            outline: none;
        }
        .footer{
          position: fixed;
          bottom: 0;
          width: 100%;
        }
        /* Style the tab content */
        .tabcontent {
          display: none;
          padding-left: .8em;
          padding-right: .8em;
        }
        .tabdcontent {
          padding-left: .8em;
          padding-right: .8em;
          padding-bottom: .8em
        }
        /* Style the tab */
        .tab {
          /*overflow: hidden;*/
          border: 0px solid #ccc;
          /*background-color: #f1f1f1;*/
        }
        
        .tab a {
          border: none;
          /*outline: none;*/
          cursor: pointer;
          transition: 0.3s;
        }
        /* Change background color of buttons on hover */
        .tab a:hover {
                /*background-color: #ddd;*/
        }
        .tab a.active {
          background-color: #3273dc;
          color: white;
        }
        .tabs {
            margin-bottom: 0px
            /*style="margin-bottom:0px"*/
        }

        element.style {
        }

        .b-steps .steps .step-items .step-item.is-completed .step-marker {
            background-color: #23d160;
            border-color: #23d160;
            color: white;
        }
        .b-steps .steps .step-items .step-item:after, .b-steps .steps .step-items .step-item:before {
            background: -webkit-gradient(linear,right top,left top,color-stop(50%,#23d160),color-stop(50%,#23d160));
        }
        .tabfields.invalid {
            background-color: #ffdddd;
        }
       


    </style>
    
</head>

<body>
    <div data-v-8716d23a="" id="app">
        <nav data-v-a67fe1ba="" data-v-8716d23a="" role="navigation" aria-label="main navigation" class="navbar">
            <div class="navbar-brand">
                <a data-v-a67fe1ba="" href="/" class="navbar-item logo router-link-active">
                    <img data-v-a67fe1ba="" alt="Dia Aberto" src="{% static 'diaabertoapp/img/logo-navbar.png' %}">
                </a>
                <a role="button" aria-label="menu" class="navbar-burger burger">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                          Atividades
                        </a>
                        <div class="navbar-dropdown">
                            {% if utilizador.utilizadortipo.tipo == 'Administrador' or utilizador.utilizadortipo.tipo == 'Coordenador' or utilizador.utilizadortipo.tipo == 'Docente'   %}
                            <a data-v-a67fe1ba="" href="/minhasatividades" class="navbar-item is-tab router-link"> Minhas Atividades </a>
                            {% endif %}
                            <a data-v-a67fe1ba="" href="/consultaratividades" class="navbar-item is-tab router-link">Consultar Atividades</a>
                           
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                          Gestão de Configurações
                        </a>
                        <div class="navbar-dropdown">
                            <a data-v-a67fe1ba="" href="/configuraratividades" class="navbar-item is-tab">Configuração das Atividades</a>
                            <a data-v-a67fe1ba="" href="/configurarespacos" class="navbar-item is-tab"> Configuração dos Espaços </a>
                            <a data-v-a67fe1ba="" href="/configurarorganicasdepartamentos" class="navbar-item is-tab"> Configuração das Unidades Orgânicas e Departamentos </a>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div data-v-a67fe1ba="" class="navbar-item">
                        <div data-v-a67fe1ba="" class="dropdown is-bottom-left is-mobile-modal">
                            <div role="button" aria-haspopup="true" class="dropdown-trigger">
                                <span data-v-a67fe1ba="" role="button">
                                    <button data-v-a67fe1ba="" type="button" data-badge="0" class="button has-badge-rounded has-badge-warning is-text" style="margin-right: 0.9rem;">
                                        <!---->
                                        <span>
                                            <span data-v-a67fe1ba="" class="icon">
                                                <i class="mdi mdi-bell mdi-24px"></i>
                                            </span>
                                        </span>
                                        <!---->
                                    </button>
                                </span>
                            </div>
                            <div aria-hidden="true" class="background" style="display: none;"></div>
                            <div aria-hidden="true" class="dropdown-menu" style="display: none;">
                                <div role="menu" class="dropdown-content">
                                    <div data-v-a67fe1ba="" role="menuitem" tabindex="0" class="dropdown-item">
                                        <strong data-v-a67fe1ba="">Notificações</strong>
                                    </div>
                                    <hr data-v-a67fe1ba="" class="dropdown-divider">
                                    <div data-v-a67fe1ba="">
                                        <div data-v-a67fe1ba="" tabindex="0" class="dropdown-item">
                                            <div data-v-a67fe1ba="" class="has-text-grey"> Não tem novas notificações! </div>
                                        </div>
                                        <hr data-v-a67fe1ba="" class="dropdown-divider">
                                    </div>
                                    <a data-v-a67fe1ba="" tabindex="0" class="dropdown-item">
                                        <u data-v-a67fe1ba="">Ver todas as notificações</u>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div data-v-a67fe1ba="" class="dropdown is-bottom-left is-mobile-modal">
                            <div role="button" aria-haspopup="true" class="dropdown-trigger">
                                <button data-v-a67fe1ba="" type="button" class="button is-text" style="margin-right: 0.9rem;">
                                    <!---->
                                    <span>
                                        <span data-v-a67fe1ba="" class="icon">
                                            <i class="mdi mdi-account-circle mdi-24px"></i>
                                        </span>
                                    </span>
                                    <!---->
                                </button>
                            </div>
                            <div class="background" style="display: none;" aria-hidden="true"></div>
                            <div class="dropdown-menu"  aria-hidden="true">
                                <div role="list" class="dropdown-content">
                                    <div data-v-a67fe1ba="" role="listitem" tabindex="0" class="dropdown-item has-text-centered"><strong>Meu perfil</strong></div>
                                    <hr />
                                    {% if user.is_authenticated %}
                                        <div data-v-a67fe1ba="" role="listitem" tabindex="0" class="is-grey dropdown-item has-text-centered">{{ utilizador.nome }}</div>
                                        <div data-v-a67fe1ba="" role="listitem" tabindex="0" class="is-grey dropdown-item has-text-centered"><small>{{ utilizador.utilizadortipo }}</small></div>
                                    <hr />
                                        <div data-v-a67fe1ba="" role="listitem" tabindex="0" class="dropdown-item is-small"><small>{{ utilizador.unidadeorganica }}</small></div>
                                        <div data-v-a67fe1ba="" role="listitem" tabindex="0" class="dropdown-item is-small"><small>{{ utilizador.departamento }}</small></div>
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'logout' %}" data-v-a67fe1ba="" type="button" class="button">
                            <span class="icon is-small">
                                <i class="mdi mdi-logout-variant"></i>
                            </span>
                            <span> Sair </span>
                            <!---->
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <div data-v-8716d23a="" id="top-hero" class="hero is-primary is-bold">
            <div data-v-8716d23a="" id="top-hero-body" class="hero-body"></div>
        </div>

        <div data-v-8716d23a="" id="page-content">
            <div data-v-8716d23a="" class="card" style="margin-bottom:6em">
                <div data-v-8716d23a="" class="card-content">
                    <div data-v-8716d23a="" id="top">
                        <nav aria-label="breadcrumbs" class="breadcrumb">
                            <ul>
                                <li>
                                    <a href="/" class="router-link-active">Início</a>
                                </li>
                                <li>
                                    <a href="/configuraratividades/" class="router-link-active">Configuração das Atividades</a>
                                </li>
                                <li class="is-active">
                                    <a href="/configuraratividades/tematicas/" class="">Temáticas</a>
                                </li>
                            </ul>
                        </nav>
                        <div style="padding: 3rem 2vw 1rem;">
                            <div class="container has-text-centered" id="app">
                               <h5 class="subtitle is-5">Configuração das Temáticas</h5>
                                <hr />
                                <form action="" method="POST">    
                                    {% csrf_token %}
                                    <div class="control is-clearfix" id="form_set">
                                        <div class="columns">
                                            <div class="column is-10">
                                                <label class="label">Tema</label>
                                            </div>
                                            <div class="column is-2">
                                                <label class="label">Excluir?</label>
                                            </div>
                                        </div>
                                        {{ form.management_form }}
                                            {% for frm in form %}
                                                {{ frm.id }}

                                        <div class="columns">
                                            <div class="column is-10">
                                                <div class="field">
                                                    <div class="control is-expanded">
                                                        {{ frm.tema }}
                                                    </div>
                                                    {% for error in frm.tema.errors %} 
                                                    <p class="help is-danger">{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="column is-2">
                                                <div class="field">
                                                    <div class="control is-expanded ">
                                                    {{ frm.DELETE }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div id="empty_form" style="display:none">
                                        {{ form.empty_form.id }}  
                                        <div class="columns">
                                            <div class="column is-10">
                                                <div class="field">
                                                    <div class="control is-expanded">
                                                    {{ form.empty_form.tema }}    
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column is-2">
                                                <div class="field">
                                                    <div class="control is-expanded"> 
                                                        {{ form.empty_form.DELETE }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="has-text-left">
                                        <button type="button" id="add_more" class="button is-success">
                                            <!---->
                                            <span class="icon is-small">
                                                <i class="mdi mdi-plus mdi-24px"></i>
                                            </span>
                                            <span> Adicionar tema </span>
                                        </button>
                                    </div>
                                    <hr />
                                    <br />

                                    <div class="level">
                                        <div class="level-left">
                                            <a href="/configuraratividades/" class="button is-danger is-outlined" type="button" onclick="return confirm('Tem a certeza que prentede cancelar? Os dados inseridos são descartados!');">
                                                <span class="icon is-small">
                                                    <i class="mdi mdi-close mdi-24px"></i>
                                                </span>
                                                <span> Cancelar </span>
                                            </a>
                                        </div>                     
                                        <div class="level-right">
                                            <button type="submit" class="button is-success is-outlined">
                                                <!---->
                                                <span> Submeter </span>
                                                <span class="icon is-small">
                                                    <i class="mdi mdi-check mdi-24px"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div data-v-8716d23a="" style="float: left;"> © 2020 Universidade do Algarve </div>
        <div data-v-8716d23a="" style="float: right;"> Made by Grupo 9 </div>
        <div data-v-8716d23a="" style="margin: auto; width: max-content;"> Dia Aberto da Universidade do Algarve </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('#add_more').click(function() {
            var form_idx = $('#id_sa-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_sa-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });
    </script>
    <script>$('td.delete input[type=checkbox]').hide()</script>

</body>

</html>