{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/png" href="{% static 'main/img/favicon.ico' %}"/>
    <title>Dia Aberto-Alterar Password</title>
    <meta charset="utf-8"/>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>

    <link rel="stylesheet" href="{% static 'main/css/bulma.css' %}">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">
    <style>
  p {
  width: 100%;}
  h4 {
  color: red;}

    </style>
</head>

<body>
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div data-v-8716d23a="" id="app">
        {% include "includes/navbar.html" %}
        <div data-v-8716d23a="" id="top-hero" class="hero is-primary is-bold">
            <div data-v-8716d23a="" id="top-hero-body" class="hero-body"></div>
        </div>
        <div data-v-8716d23a="" id="page-content">
            <div data-v-8716d23a="" class="card">
                <div data-v-8716d23a="" class="card-content">
                    <div data-v-8716d23a="" id="top">
                        <div class="column">
                            <div style="text-align:center">
                                        <span style="font-size: 40pt;font-weight:bold">Escolher nova Password</span>
                                    </div>
                            <br>
                            <div class="column is-14 has-text-centered">


                               <form class="column is-offset-4 is-4 " action="" method="post">
                                    <div class="field">
                                    {% csrf_token %}
                                    {% if validlink %}
                                    <p style="font-size: 20pt;font-weight" >Insira a sua nova password 2 vezes.
                                        Para verificarmos que escreveu corretamente.</p>
                                        <br>
                                      <div class="column is-offset-4 is-4 ">
                                     <div class="field">
                                                        <label class="label has-text-centered">Nova Password</label>
                                                        <input name="new_password1" class="input"
                                                               placeholder="Nova password" type="password"
                                                               id="id_new_password1"
                                                               required="true">
                                                    </div>


                                                    <div class="field">
                                                        <label class="label has-text-centered">Confirmar
                                                            Password</label>
                                                        <input name="new_password2" class="input"
                                                               placeholder="Confirmar password" type="password"
                                                               id="id_new_password2" required="true">
                                                    </div>
                                        <br/>
                                        {% for field in form %}
                                {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                                {% endfor %}
                                {% endfor %}
                                        <br/>
                                    </p>
                                        <br>
</div>
                                    <button class="btn btn-lg btn-primary btn-block button is-large is-success is-outlined" type="submit">Mudar a minha password</button>

                                        {% else %}
                                    <h4 style="font-size: 20pt; font-weight:bold ">Password reset sem sucesso</h4>
                                        <br>
                                    <p style="font-size: 20pt;font-weight">O link usado está invalido,
                                        provavelmente ja foi usado.
                                        Por favor peça uma nova mudança de password.</p><br/>
                                    {% endif %}


                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}
</form>
</body>
</html>
{% include 'includes/footer.html' %}

