{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/png" href="{% static 'main/img/favicon.ico' %}"/>
    <title>Dia Aberto-Alterar Password</title>
    <meta charset="utf-8"/>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>

    <link rel="stylesheet" href="{% static 'main/css/bulma.css' %}">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">
    <style>
		div.c {
  font-size: 140%;
}

    </style>
</head>

<body>
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div data-v-8716d23a="" id="app">
        {% include "includes/navbar.html" %}
        <div data-v-8716d23a="" id="top-hero" class="hero is-primary is-bold">
            <div data-v-8716d23a="" id="top-hero-body" class="hero-body"></div>
        </div>
        <div data-v-8716d23a="" id="page-content">
            <div data-v-8716d23a="" class="card">
                <div data-v-8716d23a="" class="card-content">
                    <div data-v-8716d23a="" id="top">
                        <div class="column">


                            <div class="column is-14 has-text-centered">
                                <br>
                                <br>
                                <br>
                                <div class="c">Foi enviado um email com as instruções para recuperar a sua password, se o email inserido foi usado
                                    na criação de uma conta, irá receber as instruçoes brevemente! <br> Se não receber por favor garanta que escreveu corretamente,
                                    e verifique o seu spam.


                                    <br>
                                    <p class="column is-14"><a href="/utilizadores/login">Voltar para home page</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}
    </form>
</body>
</html>
{% include 'includes/footer.html' %}

