{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/png" href="{% static 'main/img/favicon.ico' %}"/>
    <title>Dia Aberto-Recuperar Password</title>
    <meta charset="utf-8"/>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>

    <link rel="stylesheet" href="{% static 'main/css/bulma.css' %}">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">

</head>

<body>
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div data-v-8716d23a="" id="app">
        {% include "includes/navbar.html" %}
        <div data-v-8716d23a="" id="top-hero" class="hero is-primary is-bold">
            <div data-v-8716d23a="" id="top-hero-body" class="hero-body"></div>
        </div>
        <div data-v-8716d23a="" id="page-content">
            <div data-v-8716d23a="" class="card">
                <div data-v-8716d23a="" class="card-content">
                    <div data-v-8716d23a="" id="top">
                        <div class="column">
                            <div style="padding: 2rem 2vw 1rem;">
                                <div class="b-steps">
                                    <div style="text-align:center">
                                        <span style="font-size: 40pt;font-weight:bold">Recuperar password</span>
                                    </div>

                                    <form method="POST" class="form-signin">{% csrf_token %}
                                        <section class="step-content">
                                            <div class="step-item" style="">
                                                <div style="padding: 1rem 2vw 0px;">
                                                    <hr>
                                                    <div class="column is-offset-4 is-4">
                                                        <div class="field">
                                                            <p class=" p has-text-centered" style="font-size: 15pt">Insira o email com
                                                                que efetuou registo</p>
                                                            <input name="email" class="input"
                                                                   placeholder="Email address" type="email"
                                                                   id="id_email" required="true">

                                                        </div>
                                                    </div>


                                    </form>
                                    <br>
                                    <br>
                                    <br>
                                    <br>

                                    <div class="level-right">
                                        <button class="btn btn-lg btn-primary btn-block button is-large is-success is-outlined"
                                                type="submit"> Email de recuperação
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
</form>

</body>
</html>



{% include 'includes/footer.html' %}



